{
    "root": true,
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react-native/all"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["react", "react-native", "@typescript-eslint"],
    "env": {
      "react-native/react-native": true
    },
    "rules": {
      "no-unused-vars": "warn",
      "no-console": "warn",
      "no-var": "error",
      "eqeqeq": ["error", "always"],
      "react-native/no-unused-styles": "warn"
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }